* {
  box-sizing: border-box;
}

/* header */
body {
  margin: 0;
  overflow-x: hidden;
  /* 背景画像パス（差し替え時使用） */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)),
    url('img/GBkLmddb0AAMmtr.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 60px;
  /* ヘッダーの追従 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-text h1 {
  color: #fff;
  font-family: HGSMinchoE;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  margin: 0px 20px;
  line-height: normal;
}

.header-button-box {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.header-button {
  background-color: white;
  color: black;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 28px;
  cursor: pointer;
}

.header-button {
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: lightgray;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  margin: 40px 5%;
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  max-width: 900px;
}

.hero-img img {
  max-width: 350px;
  height: auto;
}

.hero-text h1 {
  font-family: HGSMinchoE;
  font-size: 64px;
  color: black;
}

.header-button-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: HGSMinchoE;
  font-size: 24px;
  color: black;
}

/* about */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}
.about-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: HGSMinchoE;
}
.about-main {
  display: flex;
  border-radius: 45px;
  background: #d9d9d9;
  margin: 40px 5%;
  padding: 20px;
  justify-content: space-around;
}

.about-sub {
  display: flex;
  height: 350px;
  border-radius: 45px;
  background: #d9d9d9;
  margin: 40px 5%;
  padding: 20px;
  justify-content: space-around;
}

.about-right-box-img {
  display: flex;
  width: 250px;
  height: auto;
  flex-shrink: 0;
  margin: 20px;
  overflow: hidden;
  border-radius: 25px;
  justify-content: center;
  border: 3px solid #ffffff;
}

.about-right-box img {
  max-width: 100%;
  height: auto;
}

.about-right-box-img-sub {
  display: flex;
  flex-direction: column;
}

.main-img {
  height: 150px;
  margin-bottom: 15px;
}

.main-img img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.sub-img {
  position: relative;
  width: 400px;
  border-radius: 10px;
}

.top-img {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

.top-img img {
  width: 80%;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.bottom-img {
  display: flex;
  position: absolute;
  justify-content: flex-end;
}

.bottom-img img {
  width: 80%;
  border-radius: 10px;
  display: block;
  margin-top: -10px;
  border: 3px solid #ffffff;
}

.about-main p,
.about-sub p {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: HGSMinchoE;
  margin-top: 30px;
}

.about-main span,
.about-sub span {
  display: block;
  text-align: center;
  font-size: 32px;
  font-family: HGSMinchoE;
  margin-top: 30px;
}

/* game-image */
.game-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 5% 5% 5%;
}

.game-grid-container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  max-width: 800px;
}

.game-item {
  position: relative;
  max-width: 280px;
  height: auto;
  margin: 10px;
}

.game-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.game-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}

.game-img-left {
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.game-img-center {
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.game-img-right {
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* info leader共通 */

.section {
  margin: auto;
  max-width: 900px;
  /* min-width: 850px; */
}

.container {
  padding: 3% 0 5% 0;
}

.container h1 {
  margin: 0 0 2% 0;
  text-align: center;
  color: white;
  font-size: 64px;
  font-family: HGSMinchoE;
  font-weight: 400;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 5%;
  padding: 1% 5%;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.img-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.img-container img {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.content p {
  margin: 0;
  font-family: HGSMinchoE;
  font-weight: 400;
}

/* leader */

.leader-content {
  justify-items: start;
  column-gap: 3%;
}

.leader-img-container {
  width: 125px;
  height: 125px;
}

.leader-img-container img {
  width: 125px;
  height: 125px;
}

.leader-content p {
  font-family: HGSMinchoE;
  font-size: 18px;
  line-height: 1.5;
}

/* info */

.info-content {
  justify-items: center;
  text-align: center;
}

.info-img-container {
  width: 100px;
  height: 100px;
}

.info-img-container img {
  width: 70px;
  height: 70px;
}

.info-content a {
  font-family: HGSMinchoE;
  font-size: 32px;
}

.info-content a {
  text-decoration: none; /* アンダーラインを消す */
  color: black; /* 文字色を黒にする */
}

.info-content a:visited {
  color: black; /* 訪問済みのリンクも黒にする */
}

.info-content a:hover,
.info-content a:active {
  color: black; /* ホバー時やクリック時も黒にする */
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}
.footer-text h1 {
  font-family: HGSMinchoE;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titleh1 {
  text-align: center;
  align-items: center;
  margin: 5px;
  font-family: HGSMinchoE;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
}

/* レスポンシブデザイン */

@media screen and (max-width: 875px) {
  .header {
    height: 45px;
  }

  .header-text h1 {
    font-size: 20px;
  }

  .header-button {
    width: 140px;
    height: 30px;
  }

  .header-button-box a {
    font-size: 16px;
  }
}

@media screen and (max-width: 686px) {
  /* header */
  .header {
    height: 30px;
  }

  .header-text h1 {
    font-size: 15px;
  }

  /* hero */

  .hero-container {
    flex-direction: column;
  }

  .about-right-box-img,
  .about-right-box-img-sub {
    display: none;
  }

  .header-button {
    width: 80px;
    height: 20px;
  }

  .header-button-box a {
    font-size: 11px;
  }

  /* titles */
  .game-title {
    position: absolute;
    font-size: 11px;
  }
}
