/* header */
body {
  margin: 0;
  background-color: gray;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 60px;
  /* ヘッダーの追従 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-text h1 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-button-box {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.header-button {
  background-color: white;
  color: black;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 28px;
  cursor: pointer;
}

.header-button {
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: lightgray;
}

/* backgroundimg */
.backgroundimg {
  /* 背景画像パス（差し替え時使用） */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)),
    url('img/GBkLmddb0AAMmtr.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  margin: 40px;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  width: 900px;
}

.hero-img img {
  width: 350px;
  height: auto;
}

.hero-text h1 {
  font-size: 64px;
  color: black;
}

/* about */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  width: 820px;
}

.about-main,
.about-sub {
  display: flex;
  justify-content: space-around;
}

.about-left-box {
  width: 45%;
  height: 280px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.about-right-box-img {
  width: 50%;
  height: 320px;
  background-color: #ffffff;
  padding: 0px;
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.about-right-box-img img {
  height: 100%;
  object-fit: cover;
}

.about-right-box {
  width: 45%;
  height: 320px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.about-left-box-img {
  width: 50%;
  height: 360px;
  background-color: #ffffff;
  padding: 0px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.about-left-box-img img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.about-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-right-box img {
  max-width: 100%;
  height: auto;
}

.about-main p,
.about-sub p {
  display: block;
  text-align: center;
  font-size: 18px;
}

.about-main span,
.about-sub span {
  display: block;
  text-align: center;
  font-size: 32px;
}

/* game-image */
.game-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.game-grid-container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  width: 700px;
}

.game-item {
  position: relative;
  width: 260px;
  height: 160px;
  margin: 10px;
}

.game-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.game-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}

.game-img-left {
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.game-img-center {
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.game-img-right {
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* info leader共通 */

.section {
  margin: auto;
  max-width: 900px;
  min-width: 850px;
}

.container {
  padding: 3% 0 5% 0;
}

.container h1 {
  margin: 0 0 2% 0;
  text-align: center;
  color: white;
  font-size: 64px;
  font-family: HGSMinchoE;
  font-weight: 400;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 5%;
  padding: 1% 5%;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.img-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.img-container img {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.content p {
  margin: 0;
  font-family: HGSMinchoE;
  font-weight: 400;
}

/* leader */

.leader-content {
  justify-items: start;
  column-gap: 3%;
}

.leader-img-container {
  width: 125px;
  height: 125px;
}

.leader-img-container img {
  width: 125px;
  height: 125px;
}

.leader-content p {
  font-size: 24px;
}

/* info */

.info-content {
  justify-items: center;
  text-align: center;
}

.info-img-container {
  width: 100px;
  height: 100px;
}

.info-img-container img {
  width: 70px;
  height: 70px;
}

.info-content p {
  font-size: 32px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
}
.footer-text h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titleh1 {
  text-align: center;
  align-items: center;
  margin: 5px;
  font-family: HGSMinchoE;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
}
