/* header */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 60px;
  /* ヘッダーの追従 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-text h1 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-button-box {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.header-button {
  background-color: white;
  color: black;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 28px;
  cursor: pointer;
}

.header-button {
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: lightgray;
}
/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体の高さを使用 */
}

.hero-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  transform: skewX(-5deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-img {
  transform: skewX(5deg); /* skewの影響を打ち消す */
  margin-right: 20px;
}

.hero-img img {
  width: 100px;
  height: auto;
}

.hero-text {
  transform: skewX(5deg); /* skewの影響を打ち消す */
}

.hero-text h1 {
  font-size: 32px;
  color: black;
}
